<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>TicketApp</title>
    <link rel="stylesheet" href="/assets/css/index.css" />
    <script src="https://unpkg.com/heroicons@2.0.18/24/outline/index.js" type="module"></script>

  </head>
  <body class="bg-white dark:bg-[#111827] text-[#111827] dark:text-white transition-colors duration-300">
    {% include 'components/header.html.twig' %}

    <main class="min-h-screen">
      {% block content %}{% endblock %}
    </main>

    {% include 'components/footer.html.twig' %}


  </body>
</html>